@tailwind base;
@tailwind components;
@tailwind utilities;

.fontShareFont_Clash-Grotes {
  font-family: "Clash Grotesk", sans-serif;
}

.fontShareFont_Clash-Display {
  font-family: "Clash Display", sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
